<div class="d-flex aling-items-center justify-content-center">
  <h1>Bem Vindo</h1>
</div>


<div class="d-flex aling-items-center justify-content-center">
  
<%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>
</div>



